# https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

*   @konflux-ci/docs

# installation
/modules/ROOT/pages/installing/   @konflux-ci/installer-maintainers

# build
/modules/ROOT/pages/building/           @konflux-ci/build-maintainers
/modules/ROOT/partials/building/        @konflux-ci/build-maintainers

# integration
/modules/ROOT/pages/testing/               @konflux-ci/integration-service-maintainers

# release
/modules/releasing                                			@konflux-ci/release-service-maintainers
/modules/patterns/pages/testing-releasing-single-component.adoc  	@konflux-ci/release-service-maintainers
/modules/patterns/images/single-component-integration-test-scenario.png @konflux-ci/release-service-maintainers

# Conforma
/modules/ROOT/pages/managing-compliance-with-ec       @konflux-ci/ec
/modules/ROOT/pages/using-trusted-artifacts.adoc      @konflux-ci/ec


# find a team to own this

/modules/ROOT/pages/metadata/              @ralphbean @arewm
/modules/ROOT/pages/patterns/             @ralphbean @arewm
