# https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

*   @konflux-ci/docs

# installation
/modules/installing/   	@konflux-ci/installer-maintainers

# build
/modules/building/	@konflux-ci/build-maintainers

# integration
/modules/testing/       @konflux-ci/integration-service-maintainers
/modules/testing/pages/integration/third-parties/rapidast.adoc  @sfowl @ccronca

# release
/modules/releasing                                			@konflux-ci/release-service-maintainers
/modules/patterns/pages/testing-releasing-single-component.adoc  	@konflux-ci/release-service-maintainers
/modules/patterns/images/single-component-integration-test-scenario.png @konflux-ci/release-service-maintainers
/modules/patterns/pages/gitops-for-manual-releases.adoc  		@konflux-ci/release-service-maintainers @ralphbean

# Conforma
/modules/compliance/       		                @konflux-ci/ec
/modules/building/pages/using-trusted-artifacts.adoc    @konflux-ci/ec

/modules/mintmaker/ @konflux-ci/mintmaker-maintainers

# SBOMs
/modules/metadata/pages/sboms.adoc  			@konflux-ci/the-collective
/modules/metadata/partials/sbom*.adoc  			@konflux-ci/the-collective

# Vanguard
/modules/patterns/pages/managing-multiple-versions.adoc			@konflux-ci/vanguard


# Here, make the CODEOWNERS here match the same CODEOWNERS line in
# build-definitions as for task/run-script-oci-ta
/modules/patterns/pages/running-user-scripts-on-the-build-pipeline.adoc	@Zokormazo @arewm @konflux-ci/build-maintainers

# find a team to own these

/modules/metadata/	@ralphbean @arewm
/modules/patterns/	@ralphbean @arewm
