# https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

*   @konflux-ci/docs

# installation
/modules/installing/   	@konflux-ci/installer-maintainers

# build
/modules/building/	@konflux-ci/build-maintainers

# integration
/modules/testing/       @konflux-ci/integration-service-maintainers

# release
/modules/releasing                                			@konflux-ci/release-service-maintainers
/modules/patterns/pages/testing-releasing-single-component.adoc  	@konflux-ci/release-service-maintainers
/modules/patterns/images/single-component-integration-test-scenario.png @konflux-ci/release-service-maintainers
/modules/patterns/pages/gitops-for-manual-releases.adoc  		@konflux-ci/release-service-maintainers @ralphbean

# Conforma
/modules/compliance/       		                @konflux-ci/ec
/modules/building/pages/using-trusted-artifacts.adoc    @konflux-ci/ec

/modules/mintmaker/ @konflux-ci/mintmaker-maintainers

# find a team to own these

/modules/metadata/	@ralphbean @arewm
/modules/patterns/	@ralphbean @arewm
